:root {
    --Primary-Dark-cyan: hsl(158, 36%, 37%);
    --Primary-Cream: hsl(30, 38%, 92%);
    --Neutral-Very-dark-blue: hsl(212, 21%, 14%);
    --Neutral-Dark-grayish-blue: hsl(228, 12%, 48%);
    --Neutral-White: hsl(0, 0%, 100%);
    --Primary-font-size: 14px;
}

body {
    background-color: var(--Primary-Cream);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.boldText {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.regularText {
}

.cta__image--style {
    max-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

.content__container--style {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Fraunces", sans-serif;
    font-size: var(--Primary-font-size);
    background-color: var(--Neutral-White);
    margin: 20px 10px;
}

section {
    flex: 1;
}

@media only screen and (min-width: 700px) {
    .container {
        flex-direction: row;
    }
}

