:root {
    --Primary-Dark-cyan: hsl(158, 36%, 37%);
    --Primary-Cream: hsl(30, 38%, 92%);
    --Neutral-Very-dark-blue: hsl(212, 21%, 14%);
    --Neutral-Dark-grayish-blue: hsl(228, 12%, 48%);
    --Neutral-White: hsl(0, 0%, 100%);
    --Primary-font-size: 14px;
}

body {
    background-color: var(--Primary-Cream);
    display: flex;
    flex-direction: column;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.boldText {    
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}

.regularText {
}

.cta__image--style {
    max-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

.image__container--style {
    flex: 1;
}

.content__container--style {
    flex: 2;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.content__type--style {
    letter-spacing: .5em;
}

.container {
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
    font-family: "Montserrat", sans-serif;
    font-size: var(--Primary-font-size);
    background-color: var(--Neutral-White);
    margin: 20px 10px;
}


.price__container--style {
    display: flex;
    align-items: center;
}

.price__newPrice--style {
    font-size: xx-large;
    color:var(--Primary-Dark-cyan)
}

.price__oldPrice--style {
    margin-left: 30px;
    text-decoration: line-through;
}

.content__button--style{
    background-color: var(--Primary-Dark-cyan);
    color: var(--Neutral-White);
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 8px;
}

.button__img--style {
    margin-right: 10px;
}

.attribution{
    flex: 1;
}

@media only screen and (min-width: 700px) {
    .container {
        flex-direction: row;
    }
}

@media only screen and (max-width: 380px) {
    p {
        margin:5px;
    }

    .content__button--style {
        padding: 5px;
        margin-top: 5px;
    }
}

